/logs
/.idea
/tool-cache-ehcache/target
/tool-scheduler/target
/web/target
/web/logs
/web-multi/logs
/web-multi/target
/web-admin/target
/util/logs
/util/target
/tool-spider/target
/webservice/target
/web-wechat/target
/web-admin/logs
/webapi/logs
/webapi/target
/dao/target
/tool-job/target
/service/target
/web-api/target
