<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rabbit.smart.dao.diy.mapper.DiySysUserMapper">
    <resultMap id="DiySysUser" type="com.rabbit.smart.dao.diy.entity.DiySysUser">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="account" jdbcType="VARCHAR" property="account"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="salt" jdbcType="VARCHAR" property="salt"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="birthday" jdbcType="TIMESTAMP" property="birthday"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="role_id" jdbcType="INTEGER" property="roleId"/>
        <result column="department_id" jdbcType="INTEGER" property="departmentId"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="department_name" property="departmentName" jdbcType="VARCHAR"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="SysPermission" type="com.rabbit.smart.dao.entity.SysPermission">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="parent_code" jdbcType="VARCHAR" property="parentCode"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="is_menu" jdbcType="BIT" property="isMenu"/>
        <result column="is_menu_title" property="isMenuTitle" jdbcType="BIT"/>
        <result column="is_menu_open" jdbcType="BIT" property="isMenuOpen"/>
        <result column="menu_icon" jdbcType="VARCHAR" property="menuIcon"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
    </resultMap>

    <select id="selectDiyUserByAccount" resultMap="DiySysUser" parameterType="java.lang.String">
        select sys_user.*,sys_role.name role_name,sys_department.name department_name
        from sys_user
        left join sys_role on sys_user.role_id=sys_role.id
        left join sys_department on sys_user.department_id=sys_department.id
        where sys_user.account=#{account}
    </select>

    <select id="selectRequestPermissionByRoleId" resultMap="SysPermission" parameterType="java.lang.Integer">
        select p.code,p.url
        from sys_permission p inner join sys_role_permission s  on p.id=s.permission_id
        where s.role_id=#{roleId} and p.is_menu=0 and p.status=1
    </select>

    <select id="selectRequestPermission" resultMap="SysPermission" parameterType="java.lang.Integer">
        select p.code,p.url
        from sys_permission p
        where p.is_menu=0 and p.status=1
    </select>

    <select id="selectMenuPermissionByRoleId" resultMap="SysPermission" parameterType="java.lang.Integer">
        select p.code,p.name,p.parent_code,p.url,p.is_menu_title,p.is_menu_open,p.menu_icon
        from sys_permission p inner join sys_role_permission s on p.id=s.permission_id
        where s.role_id=#{roleId} and p.is_menu=1 and p.status=1 order by menu_sort asc
    </select>


</mapper>