<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <!--控制台日志-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} -%desc%n</pattern>
        </encoder>
    </appender>

    <!--文本日志（按天、大小记录） -->
    <appender name="FILE_TIME_SIZE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符desc%msg：日志消息，%n是换行符 -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} -%desc%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志输出文件名 -->
            <fileNamePattern>./logs/time_size.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!--日志大小 -->
            <maxFileSize>50MB</maxFileSize>
            <!--日志保留天数 -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!--文本日志（按天记录） -->
    <appender name="FILE_TIME" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符desc%msg：日志消息，%n是换行符 -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} -%desc%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名 -->
            <fileNamePattern>./logs/time.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!--日志文件保留天数 -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!--根日志-->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE_TIME_SIZE"/>
    </root>

    <!--独立日志-->
    <logger name="alone" level="INFO" additivity="false">
        <appender-ref ref="FILE_TIME"/>
    </logger>
</configuration>